@font-face {
    font-family: Monorita;
    src: url("../fuente/HFMonorita-Regular.ttf");
} /*fuente para el texto de la página*/
@font-face{
    font-family: Flor;
    src: url("../fuente/FleurDeLeah-Regular.ttf");
} /*fuente solo para el nombre de la tienda*/
body{
    margin: 0 auto;
    max-width: 1200px;
    background-color: #F4F6FF;
    font-family: Monorita;
} 
header{
    font-family: Flor;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px, 20px, 40px, 20px;
}
header a h1:hover{
    text-decoration: underline;
    color: black;
}
header img{
    margin-top: 45px;
    width: 40px;
    height: 40px;
}
img{
    max-width: 100%;
}/**/
/**/
.container-items{
    justify-content: space-around;
    text-align: center;
    display: flex;
    gap: 20px;
}
.container-items img{
    width: 20vw;
    height: 40vh;
    object-fit: cover;
}
.container-item a:hover{
    text-decoration: underline;
    color: black;
}
.container-item a{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
